.images-page{
    min-height:100vh;
    background:#031427;
    color:white;
    padding:40px;
}

.images-header{
    margin-bottom:35px;
}

.images-header h1{
    font-size:40px;
    margin-bottom:10px;
}

.images-header p{
    color:#94a3b8;
    font-size:17px;
}

.images-header span{
    color:#fbbf24;
}

.image-form{
    background:#07172e;
    border:1px solid #2b3d57;
    border-radius:18px;
    padding:30px;
    margin-bottom:35px;
}

.image-form h2{
    margin-bottom:25px;
}

.image-form select,
.image-form input{
    width:100%;
    padding:15px;
    margin-top:15px;
    background:#0c203b;
    border:1px solid #32465f;
    border-radius:10px;
    color:white;
}

.image-form select:focus,
.image-form input:focus{
    outline:none;
    border-color:#fbbf24;
}

.upload-btn{
    margin-top:25px;
    background:#fbbf24;
    color:#031427;
    border:none;
    padding:14px 30px;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
    transition:.3s;
}

.upload-btn:hover{
    transform:translateY(-3px);
}

.stats{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
    gap:20px;
    margin-bottom:35px;
}

.stat-card{
    background:#07172e;
    border:1px solid #2b3d57;
    border-radius:18px;
    padding:25px;
}

.stat-card h3{
    color:#94a3b8;
    margin-bottom:10px;
}

.stat-card h2{
    color:#fbbf24;
}

.gallery-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:25px;
}

.image-card{
    background:#07172e;
    border:1px solid #2b3d57;
    border-radius:18px;
    padding:20px;
    transition:.3s;
}

.image-card:hover{
    transform:translateY(-5px);
    border-color:#fbbf24;
}

.image-card img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:12px;
    margin-bottom:18px;
}

.delete-btn{
    width:100%;
    padding:12px;
    background:#ef4444;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

.delete-btn:hover{
    background:#dc2626;
}